body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.content {
    clear: both;
    width: 90%;
}

li {
    list-style-type: none;
}

#products li {
    width: 300px;
    background-color: #aaf;
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0;
    margin: 0 0 5px 0;
    padding: 0 5px 0 5px;
}

.price {
    float: right;
    color: #c00;
    font-size: 0.75em;
}

.details thead td {
    background-color: #CCCCCC;
    color: #333333;
}

.details td {
    padding: 6px;
}

    .details td.qty {
        text-align: center;
    }

#cart a {
    color: Blue;
    font-size: .75em;
}

#update-products li {
    padding: 5px;
    color: #666;
    border-style: dashed;
    border-width: 2px;
    border-color: #666;
}

    #update-products li .item {
        width: 120px;
        display: inline-block;
        text-align: right;
    } 