
@{
    ViewBag.Title = "Pozdrav";
    Layout = "~/Views/Shared/_mojLayout.cshml";
}

<h2>Pozdrav</h2>
@section header{
    <div id="header">Ustvarjamo stran</div>
}
@section list{
    <ul>
        <li>Lorem</li>
        <li>ipsum</li>
        <li>futua</li>
        <li>mea</li>
        <li>vita</li>
    </ul>
}

<h1>Multisekcijska vsebina</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum tellus leo, sit amet bibendum lectus tristique non. Suspendisse nec commodo leo. Sed vitae facilisis lorem, in consectetur sapien. Nam et lectus nec nisi tempor sollicitudin nec ac tortor. Nulla mi velit, pulvinar ac rutrum eget, convallis convallis tortor. Maecenas volutpat magna ipsum, ac hendrerit leo congue sit amet. Morbi sollicitudin lectus ut aliquet viverra. Morbi egestas porttitor elit, et auctor mi dapibus quis. Nullam a aliquam lectus, vitae lobortis ipsum. Nunc non libero dictum nisl blandit sodales placerat ac nulla. Morbi nec urna vitae urna dignissim auctor id id lectus. Maecenas pretium lacus sed nibh egestas vehicula.
</p>
